<div class="decoration-div w-clearfix"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="/images/boot.png" srcset="/images/boot-p-500x500.png 500w, /images/boot.png 512w"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="/images/little-tree.png" srcset="/images/little-tree-p-500x500.png 500w, /images/little-tree.png 512w"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="/images/axe.png" srcset="/images/axe-p-500x500.png 500w, /images/axe.png 512w"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="/images/gloves.png" srcset="/images/gloves-p-500x500.png 500w, /images/gloves.png 512w"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="/images/little-tree.png" srcset="/images/little-tree-p-500x500.png 500w, /images/little-tree.png 512w">
    </div>
