<div class="hero-section">
    <div class="hero-container w-container">
      <div class="hero-message"></div>
      <div class="hero-header">MAKE.Better.</div>
      <div class="h2">Software Craftsmanship Symposium Series</div>
      <div class="h2 sub">June 27, 2019, 6:21pm - 8:17pm <br />Cube Coworking, Shop #21A 134 Constant Spring Road (Next to ScotiaBank) <!-- at <a href="https://www.google.com.jm/maps?q=the+hub+coworking+jamaica&rlz=1CADEAE_enJM792JM792&um=1&ie=UTF-8&sa=X&ved=0ahUKEwja4u6aw_fbAhWCwFkKHdtHAxkQ_AUICygC" title="locate the hub">the Hub</a> -->
</div>
      <div class="call-to-action-button-group">
              <a class="button w-button" href="/register">Register</a>
              <a class="button w-button" href="https://www.papercall.io/makebetter" title="speak at the next event">Speak</a>
              <a class="button w-button" href="#more">Learn More</a>
      </div>
  <h2>Arriving at Make.Better. March 2018 Symposium</h2>
 <!-- video start -->
    <style>.embed-container { position: relative; margin-bottom:120px; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/6gszuJABYBA?rel=0' frameborder='0' allowfullscreen></iframe></div>
    </div>
 <!-- video end  -->


    <div class="decoration-div w-clearfix"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="images/boot.png" srcset="images/boot-p-500x500.png 500w, images/boot.png 512w"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="images/little-tree.png" srcset="images/little-tree-p-500x500.png 500w, images/little-tree.png 512w"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="images/axe.png" srcset="images/axe-p-500x500.png 500w, images/axe.png 512w"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="images/gloves.png" srcset="images/gloves-p-500x500.png 500w, images/gloves.png 512w"><img class="tiny-decorative-pics" sizes="(max-width: 479px) 32vw, 84px" src="images/little-tree.png" srcset="images/little-tree-p-500x500.png 500w, images/little-tree.png 512w">
  </div>
  </div>
