<div class="info-section">
    <div class="w-container">
      <div class="info-header">Join us as we raise the bar</div>
      <div class="info-subheading">made by members of the local software development community</div><img class="info-image" data-ix="load-love" sizes="(max-width: 479px) 60vw, 257px" src="images/love-better-software.png" srcset="images/love-better-software-p-500x500.png 500w, images/love-better-software.png 512w" width="257">
      <div class="info-text"><strong>Our Vision:</strong>
        <br>Local software developers making a global impact.&nbsp;</div>
      <div class="flyin-info-right info-text right" id="its-about"><strong>What's this?</strong>
        <br>Make.Better.&nbsp;symposiums cover software development best practices for software testing, &nbsp;agile development, QA and project management.&nbsp;</div>
    </div>
  </div>
