<div class="sc-navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
    <div class="w-container">
        <a class="w-nav-brand" title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">
            <img class="makebetterlogo" src="/images/makebetter.png" width="199">
            </a>
            <nav class="w-nav-menu nav-menu" role="navigation">
                {{ range .Site.Params.nav }}
                <a class="sc-navlink w-nav-link" href="{{ .url }}" style="max-width: 728px;">{{ .title }}</a>
                {{ end }}
                <a class="button getstarted w-nav-link" href="/register" style="max-width: 728px;">register</a>
                
            </nav>
            <div class="w-nav-button">
                <div class="w-icon-nav-menu"></div>
            </div>
        </div>
        <div class="w-nav-overlay" data-wf-ignore=""></div>
    </div>
