{{ partial "header" . }}
<style>
h3.article-heading a {
    text-decoration: none;
    color;
    color: black;
}
</style>
{{ partial "nav" . }}
{{ partial "hero" . }}
{{ partial "infosection" . }}
<div class="info-section second">
    <div class="col-header" id="more">Learn more</div>
    <div class="w-container">
      <div class="w-row">
        <div class="w-clearfix w-col w-col-4">
          <div class="info-to-learn">Learning more is what we're about.
            <br>
            <br>Join others who actually care about improving the way we build software.
            <br>
            <br>&nbsp;If you participate in the software development life cycle and want to be a better product manager, UX practitioner, developer, tester, educator, etc...</div><a class="basic-button button w-button" href="#">Join our Mailing LIST</a>
        </div>
        <div class="article-column w-clearfix w-col w-col-8">
          <h2 class="articles-header">Articles</h2>

           {{ range where .Data.Pages "Type" "post" }}
          <div class="article-wrapper">
            <h3 class="article-heading"><a href="{{ .Permalink }}">{{ .Title }}{{ if .Draft }} ::Draft{{ end }}</a></h3>
            <div class="author-byline">
            {{ .Date.Format "January 2, 2006" }}</div>
            <p class="article-summary">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        ...<a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Read more
          <span class="icon is-small">
            <i class="fa fa-angle-double-right"></i>
          </span>
        </a>
        {{ end }}
        </p>
          </div>
         {{ end }} 

          <div class="article-wrapper">
          </div>
          <a class="basic-button button w-button" href="#">All Articles</a>
        </div>
      </div>
    </div>
  </div>
{{ partial "footer" . }}
