{{ partial "header" . }}
{{ partial "nav" . }}
<section class="info-section second section">
  <div class="w-container content">
    <h1 class="title">{{ .Title }}</h1>
    <!-- <h2 class="subtitle is-5"> by {{ .Params.author | default .Site.Params.author }}</h2>
     -->
    <div class="content">
      {{ .Content }}
    </div>
  </div>
{{ partial "decorations" . }}
</section>
{{ partial "footer" . }}
