@media (max-width: 767px)
.info-section.second {
    padding: 16px;
}
.basic-button.button {
    color: #f1f1f1;
    }
.hero-section {
    padding: 0px 16px;
}
a.button.w-button {
margin-right:4px;
background-color:#693703;
border:1px solid #fff;
}

.call-to-action-button-group {
    display: flex;
    justify-content: center;
}
a.button.getstarted.w-nav-link.w--nav-link-open {
    margin: 8px;
}
.footer {
    padding: 16px;
}
.w-container.content {
    text-align: left;
}
.sc-navbar.w-nav {
    background-image: unset;
}
a.button.text-link {

    margin-top: 15px;
    padding-top: 8px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom: 8px;
    background-color: #75400b;
    font-family: 'Droid Sans', sans-serif;
    color: #fff;
    font-size:12px;
    font-weight: 400;
    text-transform: uppercase;
}
section.info-section.second.section {
    padding-bottom: 120px;
}
