body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

a {
  color: #482909;
  font-weight: 400;
  text-decoration: none;
}

.sc-navbar {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  border-top: 7px solid #693705;
  border-bottom: 2px solid #693705;
  background-color: #e4e0da;
  background-image: url('../images/little-tree.png');
  background-position: 100% 102%;
  background-size: 18px;
  background-repeat: repeat-x;
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.hero-section {
  position: relative;
  display: block;
  overflow: hidden;
  min-height: 85vh;
  border-top: 1px solid #7c7c7c;
  background-image: -webkit-linear-gradient(270deg, #ac8243, rgba(156, 97, 44, .83) 71%, #ac8243 96%), url('../images/Software-Craftsmanship.png');
  background-image: linear-gradient(180deg, #ac8243, rgba(156, 97, 44, .83) 71%, #ac8243 96%), url('../images/Software-Craftsmanship.png');
  background-position: 0px 0px, -490px -639%;
  background-size: auto, 699px;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.hero-message {
  position: absolute;
  display: block;
  margin-top: 10%;
  margin-left: 8%;
}

.hero-header {
  margin-top: 67px;
  font-family: Mechano, sans-serif;
  color: #fff;
  font-size: 5.9em;
  line-height: 0.8em;
  font-weight: 400;
  text-align: center;
  letter-spacing: -1px;
}

.h2 {
  margin-top: 5px;
  margin-bottom: 28px;
  color: #fff;
  font-size: 20px;
  line-height: 19px;
  font-style: italic;
  font-weight: 600;
  text-align: center;
}

.h2.sub {
  margin-bottom: 35px;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

.learn-more-button {
  display: block;
  width: 220px;
  margin-right: auto;
  margin-bottom: 39px;
  margin-left: auto;
  padding: 22px 18px;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: #693705;
  -webkit-transition: background-color 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, color 400ms ease;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.learn-more-button:hover {
  background-color: #fff;
  color: #000;
}

.info-section {
  position: relative;
  display: block;
  min-height: 65vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #693705;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.info-section.second {
  margin-top: 0px;
  border-top: 1px solid #ac8243;
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(270deg, hsla(30, 40%, 80%, .96), hsla(37, 30%, 70%, .96) 9%, #b69a6e 27%, #aa8650 64%, rgba(187, 151, 96, .97) 87%, #d3af78), url('../images/makebetter.png');
  background-image: linear-gradient(180deg, hsla(30, 40%, 80%, .96), hsla(37, 30%, 70%, .96) 9%, #b69a6e 27%, #aa8650 64%, rgba(187, 151, 96, .97) 87%, #d3af78), url('../images/makebetter.png');
  background-position: 0px 0px, 0px 10px;
  background-size: auto, 200px;
  background-repeat: repeat, repeat-y;
  background-attachment: scroll, fixed;
}

.info-section.awards {
  margin-top: 0px;
  padding: 150px 15%;
  background-color: #fff;
  background-image: url('../images/award.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  font-size: 18px;
  line-height: 24px;
}

.info-section.who {
  margin-top: 0px;
  background-color: #f2f2f2;
}

.info-section.advisors {
  margin-top: 0px;
  background-color: #fff;
}

.info-section.joinus {
  margin-top: 0px;
  background-color: #f2f2f2;
}

.info-section.service {
  margin-top: 0px;
  padding-bottom: 80px;
}

.info-section.form {
  margin-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
  font-size: 18px;
  line-height: 25px;
}

.hero-image {
  position: absolute;
  width: 100%;
  padding-right: 10px;
  padding-left: 25%;
  background-color: #000;
}

.info-header {
  margin-top: 8px;
  font-family: 'Droid Sans', sans-serif;
  color: #e4e7f2;
  font-size: 32px;
  line-height: 46px;
  font-weight: 400;
  text-align: center;
}

.info-image {
  display: block;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.col-header {
  margin-top: 5px;
  margin-bottom: 19px;
  color: #693705;
  font-size: 30px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.col-header.inner {
  text-align: left;
}

.basic-button {
  margin-top: 16px;
  margin-bottom: 50px;
  padding: 9px 14px;
  border: 2px solid #693705;
  background-color: transparent;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
  color: #693705;
  text-align: center;
  text-transform: uppercase;
}

.basic-button:hover {
  background-color: #693705;
  color: #f2f2f2;
}

.basic-button.button {
  float: right;
  border-color: #693705;
  color: #693705;
}

.basic-button.button:hover {
  background-color: #693705;
  color: #e4e0da;
}

.sc-navlink {
  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.getstarted {
  margin-top: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #75400b;
  font-family: 'Droid Sans', sans-serif;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
}

.getstarted.button-who {
  display: block;
  width: 135px;
  margin-right: auto;
  margin-bottom: 80px;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 12px;
}

.social-navbar {
  height: 38px;
  border-bottom: 3px solid #1d2a5f;
  background-color: #272727;
}

.social-header {
  display: inline-block;
  margin-right: 40%;
  color: hsla(0, 0%, 100%, .8);
  font-size: 12px;
  font-weight: 600;
}

.social-navbar-icon {
  width: 20px;
  margin-right: 5px;
  margin-left: 5px;
  opacity: 0.6;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.social-navbar-icon:hover {
  opacity: 0.95;
  -webkit-filter: invert(100%) sepia(100%);
  filter: invert(100%) sepia(100%);
}

.award-note {
  margin-bottom: 20px;
  font-family: 'Droid Sans', sans-serif;
  color: #d33;
  font-size: 36px;
  line-height: 38px;
  font-weight: 300;
}

.award-header {
  font-family: 'Droid Sans', sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
}

.award-icon {
  margin: -35px -30px -35px -70px;
  opacity: 0.95;
  -webkit-filter: invert(10%);
  filter: invert(10%);
}

.who-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.joinus-tabs {
  border-color: #e2e2e2;
  font-size: 14px;
}

.tab-link {
  margin-top: 25px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: transparent;
  color: #d33;
  font-size: 14px;
  line-height: 22px;
}

.tab-link.w--current {
  margin-top: 25px;
  padding-right: 18px;
  padding-left: 18px;
  border-style: solid solid none;
  border-width: 1px;
  border-color: #a5a5a5;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  color: #d33;
}

.tab-pane {
  padding: 5px 35px 20px;
  border: 1px solid #a5a5a5;
  border-radius: 1px;
  background-color: #cacaca;
  font-size: 13px;
  line-height: 20px;
}

.tab-header {
  margin-top: 20px;
  margin-bottom: 5px;
  color: rgba(221, 51, 51, .9);
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.right-align {
  display: block;
  text-align: right;
}

.quarrio-form {
  display: block;
  width: 380px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.form-field {
  margin-bottom: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  background-color: #e2e2e2;
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, .4);
}

.footer {
  height: 30vh;
  padding-top: 17px;
  background-color: #693705;
  color: #e4e0da;
}

.copyright {
  background-color: #444;
  color: #fff;
}

.info-text {
  width: 40%;
  margin-top: -29px;
  color: #e4e7f2;
}

.info-text.right {
  margin-top: -93px;
  float: right;
}

.info-subheading {
  color: #e4e7f2;
  font-size: 16px;
}

.makebetterlogo {
  padding-top: 13px;
  opacity: 0.61;
}

.makebetterlogo:hover {
  opacity: 1;
}

.button {
  border-radius: 8px;
}

.button.learn-more-button {
  margin-bottom: 106px;
}

.info-to-learn {
  text-align: left;
}

.decoration-div {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -12px;
  padding-right: 114px;
  padding-left: 114px;
}

.tiny-decorative-pics {
  position: relative;
  display: inline-block;
  height: 84px;
  margin-right: auto;
  margin-left: -5px;
  float: none;
}

.tiny-decorative-pics.first-pic {
  margin-left: 158px;
}

.hero-container {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  margin-top: 47px;
}

.articles-header {
  margin-top: 0px;
  font-size: 30px;
}

.article-heading {
  margin-top: 24px;
  margin-bottom: 3px;
  font-size: 20px;
  line-height: 19px;
  text-align: left;
}

.author-byline {
  font-size: 15px;
  line-height: 19px;
  text-align: left;
}

.article-summary {
  margin-top: 5px;
  text-align: left;
}

.article-column {
  padding-right: 48px;
  padding-left: 48px;
}

.inner-content {
  text-align: left;
}

.text-link:hover {
  color: #000;
}

@media (max-width: 991px) {
  .hero-section {
    height: auto;
  }
  .button.learn-more-button {
    border-color: #ac8243;
  }
  .tiny-decorative-pics.first-pic {
    margin-left: 75px;
  }
  .hero-container {
    position: relative;
  }
  .nav-menu {
    padding-bottom: 14px;
    background-color: #e4e0da;
  }
}

@media (max-width: 767px) {
  .hero-section {
    height: auto;
  }
  .learn-more-button {
    width: 90%;
  }
  .info-section.second {
    height: auto;
  }
  .info-header {
    width: 90%;
  }
  .info-text {
    margin-left: 10px;
  }
  .info-text.right.flyin-info-right {
    position: absolute;
    right: 13px;
    bottom: 23px;
    margin-bottom: 2px;
    float: none;
  }
  .tiny-decorative-pics.first-pic {
    margin-left: -66px;
  }
}

@media (max-width: 479px) {
  .hero-header {
    font-size: 3em;
  }
  .h2 {
    font-size: 17px;
  }
  .h2.sub {
    font-size: 16px;
  }
  .info-section.second {
    height: auto;
  }
  .info-header {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    font-size: 42px;
    line-height: 46px;
  }
  .info-image {
    width: 121px;
  }
  .info-text {
    position: absolute;
    bottom: 23px;
    padding: 25px;
    font-size: 14px;
  }
  .info-text.right.flyin-info-right {
    width: 63%;
    padding-right: 20px;
    float: right;
    font-size: 13px;
  }
  .decoration-div {
    height: 80px;
    padding-right: 70px;
    padding-left: 70px;
  }
  .tiny-decorative-pics {
    height: 76px;
    margin-left: -38px;
  }
  .footer-text {
    padding-left: 9px;
  }
}

@font-face {
  font-family: 'Mechano';
  src: url('../fonts/MECHANO.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}