{{ partial "header" . }}
{{ partial "nav" . }}
<section class="info-section second section">
  <div class="w-container content">
    <h1 class="title">{{ .Title }}</h1>
    <p class="author-byline">{{ .Date.Format "January 2, 2006" }} by {{ .Params.author | default .Site.Params.author }}</p>
    <div class="content">
      {{ .Content }}
    </div>
    {{ if (ne ($.Param "sharingicons") false) }}
    {{ partial "sharing.html" . }}
    {{ end }}
  </div>
{{ partial "decoration" . }}
</section>
{{ partial "footer" . }}
